<div class="container mt-5">
  <div class="row">
    <div class="col-md-8">
      <form #katForm="ngForm" (ngSubmit)="Kaydet()" *ngIf="islem==1">
        <div class="card">
          <div class="card-header bg-primary text-white">
            <h4>Kategori Düzenle</h4>
          </div>
          <div class="card-body">
            <div class="form-group">
              <label>Kategori Adı</label>
              <input type="text" name="katAdi" class="form-control w-50" ngModel [(ngModel)]="secKat.katAdi">
            </div>
          </div>
          <div class="card-footer">
            <input type="submit" value="Kaydet" class="btn btn-success">
            <button class="btn btn-primary ms-2" [routerLink]="['/']">İptal</button>
          </div>
        </div>
      </form>
      <div class="card" *ngIf="islem==2">
        <div class="card-header bg-danger text-white">
          <h4>Kategori Sil</h4>
        </div>
        <div class="card-body">
          <div class="form-group">
            <b>Kategori Adı : </b> {{secKat.katAdi}}
            <h4>Kategori silinecektir onaylıyor musunuz?</h4>
          </div>
        </div>
        <div class="card-footer">
          <button value="sil" class="btn btn-danger" (click)="Sil()">Sil</button>
          <button class="btn btn-primary ms-2" [routerLink]="['/']">İptal</button>
        </div>
      </div>
      <div class="mt-3" [ngClass]="katSonuc.islem ? 'alert alert-success' : 'alert alert-danger'"
        *ngIf="katSonuc.mesaj">
        {{katSonuc.mesaj}}</div>
    </div>
  </div>
