<div class="container mt-5">
  <div class="row">
    <div class="col-md-8">
      <h4>Ürünler</h4>
      <table class="table table-hover">
        <thead>
          <th>Id</th>
          <th>Ürün Adı</th>
          <th>Fiyatı</th>
          <th>Kategori Adı</th>
          <th>Düzenle</th>
          <th>Sil</th>
        </thead>
        <tbody>
          <tr *ngFor="let urun of urunler">
            <td>{{urun.urunId}}</td>
            <td>{{urun.urunAdi}}</td>
            <td>{{urun.urunFiyat | currency:'₺'}}</td>
            <td>{{urun.urunKatAdi}}</td>
            <td><button class="btn btn-warning btn-sm" [routerLink]="['urunduzenlesil',urun.urunId,1]">Düzenle</button>
            </td>
            <td><button class="btn btn-danger btn-sm" [routerLink]="['urunduzenlesil',urun.urunId,2]">Sil</button></td>
          </tr>
        </tbody>
      </table>
      <h4>Ürün Ekle</h4>
      <div class="form-group">
        <label>Ürün Adı</label>
        <input type="text" class="form-control" #urunadi>
      </div>
      <div class="form-group">
        <label>Ürün Fiyatı</label>
        <input type="number" class="form-control" #urunfiyat>
      </div>
      <div class="form-group">
        <label>Kategori Adı</label>
        <select class="form-control" #katid>
          <option *ngFor="let kat of kategoriler" value="{{kat.katId}}">{{kat.katAdi}}</option>
        </select>
      </div>
      <div class="form-group mt-3">
        <button class="btn btn-success" (click)="UrunKaydet(urunadi.value,urunfiyat.value,katid.value)">Kaydet</button>
      </div>

      <div class="mt-3 w-50" [ngClass]="urunSonuc.islem ? 'alert alert-success' : 'alert alert-danger'"
        *ngIf="urunSonuc.mesaj">
        {{urunSonuc.mesaj}}</div>
    </div>
    <div class="col-md-4">
      <h4>Kategoriler</h4>
      <table class="table table-hover">
        <thead>
          <th>Id</th>
          <th>Kategori Adı</th>
          <th>Düzenle</th>
          <th>Sil</th>
        </thead>
        <tbody>
          <tr *ngFor="let kategori of kategoriler">
            <td>{{kategori.katId}}</td>
            <td>{{kategori.katAdi}}</td>
            <td><button class="btn btn-warning btn-sm"
                [routerLink]="['/katduzenlesil',kategori.katId,1]">Düzenle</button></td>
            <td><button class="btn btn-danger btn-sm" [routerLink]="['/katduzenlesil',kategori.katId,2]">Sil</button>
            </td>

          </tr>
        </tbody>
      </table>
      <h4>Kategori Ekle</h4>
      <div class="form-group">
        <label>Kategori Adı</label>
        <input type="text" #ad class="form-control">
      </div>
      <div class="form-group mt-3">
        <button class="btn btn-success" (click)="KategoriKaydet(ad.value)">Kaydet</button>
      </div>
      <div class="mt-3" [ngClass]="katSonuc.islem ? 'alert alert-success' : 'alert alert-danger'"
        *ngIf="katSonuc.mesaj">
        {{katSonuc.mesaj}}</div>
    </div>
  </div>
</div>
